/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: #EFDAB8;
}

p, h1, h2, h3, span {
  color: #5D5D5D;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 50px 20%;
}

h1 {
  width: 100%;
  font-size: 38px;
  margin: 20px 0;
  text-align: center;
  font-weight: 600;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5D5D5D;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5D5D5D;
  overflow: hidden;
  border-radius: .25em;
  margin: 10px auto;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #F09036;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #5D5D5D;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #F6C779;
}

.chart-container, .compare-container {
  display: flex;
  justify-content: space-between;
}

.chart-container div, .compare-container div {
  width: 48%;
  min-height: 400px;
  margin: 50px auto;
}

.tabulator-header, .tabulator .tabulator-header .tabulator-col {
  color: #5D5D5D !important;
  background-color: #F09036 !important;
}

.tabulator-arrow {
  color: #5D5D5D !important;
}

.tabulator-row {
  color: #5D5D5D !important;
  background-color: #EFDAB8 !important;
}

.tabulator-row-even {
  background-color: #F6C779 !important;
}

.antelope-card {
  background-color:#EFDAB8;
  border: 1px solid #5D5D5D;
  border-radius: 5px;
  margin: 15px auto;
  min-width: 400px;
  min-height: 350px;
}

.antelope-card img {
  max-height: 300px;
  max-width: 350px;
  border-radius: 5px;
  border: 1px solid #5D5D5D;
  margin: 15px 20px;
}

.antelope-card h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.antelope-card p {
  text-align: center;
  font-size: 16px;
}

